#logotip{
  position: absolute;
  width: 100px;
  height: 100px;
  margin-right: 10px;
  float: left;;
}
footer, #sslki {
		text-align:center;
}
#nav, #sslki{
	clear:both;
}
TABLE {
    width: 300px; 
    background: #B0C4DE; 
    border: 1px solid #B0C4DE; 
    border-collapse: collapse; 
   }
   TD, TH {
    padding: 3px; 
   }
   TD {
    text-align: center; 
    border-bottom: 1px solid #87CEFA ; 
   }
   TH {
    background: #B0C4DE; 
    color: black; 
   }
   TR.even {
    background: #B0E0E6; 
   }
   .la {
    text-align: left; 
   }
.button {
		max-width:300px; 
		background-color:#9932CC; 
		margin: 0 auto; 
		margin-top:30px; 
		padding:10px;
		border-radius:5px;
		text-decoration:none;
		color: black;
	}
	.button:hover {
		transition-duration:1s;
		background-color:#9400D3;
		
	}
  
