#logotip{
  position: absolute;
  width: 100px;
  height: 100px;
  margin-right: 10px;
  float: left;;
}
footer, #sslki {
		text-align:center;
}
table{
	max-width:370px; 
		background-color:#9370DB;
}
nav{
	clear:both;
}
