#logotip{
  position: absolute;
  width: 100px;
  height: 100px;
  margin-right: 10px;
  float: left;;
}
footer, #sslki {
		text-align:center;
}
/*table{
	max-width:370px; 
		background-color:#9370DB;
}*/
#nav, #sslki{
	clear:both;
}

   table {
    width: 300px; /* Ширина таблицы */
    background: #B0C4DE; /* Цвет фона нечетных строк */
    border: 1px solid #87CEFA; /* Рамка вокруг таблицы */
    border-collapse: collapse; /* Убираем двойные линии между ячейками */
   }
   TD, TH {
    padding: 3px; /* Поля вокруг содержимого ячейки */
   }
   TD {
    text-align: center; /* Выравнивание по центру */
    border-bottom: 1px solid #87CEFA ; /* Линия внизу ячейки */
   }
   TH {
    background:#87CEEB ; /* Цвет фона */
    color: black; /* Цвет текста */
   }
   TR.even {
    background: #B0E0E6; /* Цвет фона четных строк */
   }
   .la {
    text-align: left; /* Выравнивание по левому краю */
   }
